body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
}

ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8) url('../../../../redcap_v9.2.5/Resources/images/progress.gif') 50% 50% no-repeat;
    z-index: 10000;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .loader {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loader {
    display: block;
}